# 📦 Dependencias
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# 🧪 Pruebas
/coverage

# ⚙️ Compilación Next.js / Vite / Webpack
/.next/
/out/
/dist/
build/
*.tsbuildinfo
next-env.d.ts

# 🌀 Hot Update Artifacts (Webpack HMR)
**/*.hot-update.js
**/*.hot-update.json

# ⚠️ Dumps y logs de errores
bash.exe.stackdump
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 🧪 Archivos temporales del sistema o editores
.DS_Store
*.pem

# 🔐 Entornos (puedes eliminar esta regla si versionas .env.example)
/.env*
!.env.example

# ☁️ Plataformas
.vercel
.netlify
firebase.json
firebase-debug.log

# 📝 IDEs y herramientas de desarrollo
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.log
